# License variables for FE servers
export CVG_LICENSE_PATH={{rbm_license_dir}}
export CVG_LICENSE_FILE=$CVG_LICENSE_PATH/{{ rbm_license_file_name }}
export CVG_LICENSE_CERTIFICATE=$CVG_LICENSE_PATH/{{ rbm_license_certificate_file }}

# By default - no traces
# export TRACE_ALL=TRUE
# export TRACE_LEVEL=FULL

# Instead of enabling full trace above, consider using below:
#        setrbtrace <pid> ALL FULL
#                                      = set trace level for domain for pid
#        setrbtrace <pid> ALL REMOVE
#                                      = remove trace domain for pid

# export USE_DYNAMIC_TRACING=TRUE

{% if tns_admin is defined %}
# TNS settings
export TNS_ADMIN={{ tns_admin }} 
{% endif %}